* {
  margin: 0;
}
.App {
  background-color: #fafafa;
}
.app__header {
  background-color: white;
  padding: 10px 40px;
  box-shadow: 1px 1px 7px rgba(255, 27, 27, 0.3);
  object-fit: contain; /*it keep the aspect ratio perfect..*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__headerImage {
  height: 40px;
}
.app__signUp {
  display: flex;
  flex-direction: column;
}
.app__signUp Input {
  margin: 2px;
}
.app__signUp Button {
  padding: 10px;
  margin-top: 10px;
}
.app__body {
  display: flex;
  justify-content: center;
}
.app__post {
  padding: 25px;
}
@media all and (max-width: 768px) {
  .app__body {
    flex-direction: column-reverse;
    align-items: center;
  }
}
